In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from math import sqrt

In [7]:
df=pd.read_csv("AirQualityUCI.csv")
df.describe()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
count,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,0.0,0.0
mean,-34.207524,1048.990061,-159.090093,1.865683,894.595276,168.616971,794.990168,58.148873,1391.479641,975.072032,9.778305,39.485380,-6.837604,NaN,NaN
std,77.657170,329.832710,139.789093,41.380206,342.333252,257.433866,321.993552,126.940455,467.210125,456.938184,43.203623,51.216145,38.976670,NaN,NaN
min,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,NaN,NaN
25%,0.600000,921.000000,-200.000000,4.000000,711.000000,50.000000,637.000000,53.000000,1185.000000,700.000000,10.900000,34.100000,0.692300,NaN,NaN
50%,1.500000,1053.000000,-200.000000,7.900000,895.000000,141.000000,794.000000,96.000000,1446.000000,942.000000,17.200000,48.600000,0.976800,NaN,NaN
75%,2.600000,1221.000000,-200.000000,13.600000,1105.000000,284.000000,960.000000,133.000000,1662.000000,1255.000000,24.100000,61.900000,1.296200,NaN,NaN
max,11.900000,2040.000000,1189.000000,63.700000,2214.000000,1479.000000,2683.000000,340.000000,2775.000000,2523.000000,44.600000,88.700000,2.231000,NaN,NaN

In [8]:
print(df.shape)
df.head()

(9471, 17)

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
0,10-03-2004,18:00:00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578,NaN,NaN
1,10-03-2004,19:00:00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255,NaN,NaN
2,10-03-2004,20:00:00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502,NaN,NaN
3,10-03-2004,21:00:00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867,NaN,NaN
4,10-03-2004,22:00:00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888,NaN,NaN

#  **Data Cleaning**

In [9]:
# Handling the NULL values
df = df.dropna(axis=1,how="all")
#df.describe()
print(df)

            Date      Time  CO(GT)  PT08.S1(CO)  NMHC(GT)  C6H6(GT)  \
0     10-03-2004  18:00:00     2.6       1360.0     150.0      11.9
1     10-03-2004  19:00:00     2.0       1292.0     112.0       9.4
2     10-03-2004  20:00:00     2.2       1402.0      88.0       9.0
3     10-03-2004  21:00:00     2.2       1376.0      80.0       9.2
4     10-03-2004  22:00:00     1.6       1272.0      51.0       6.5
...          ...       ...     ...          ...       ...       ...
9466         NaN       NaN     NaN          NaN       NaN       NaN
9467         NaN       NaN     NaN          NaN       NaN       NaN
9468         NaN       NaN     NaN          NaN       NaN       NaN
9469         NaN       NaN     NaN          NaN       NaN       NaN
9470         NaN       NaN     NaN          NaN       NaN       NaN

      PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
0            1046.0    166.0        1056.0    113.0        1692.0
1             955.0    103.0        1174.0     92.0        1559.0
2             939.0    131.0        1140.0    114.0        1555.0
3             948.0    172.0        1092.0    122.0        1584.0
4             836.0    131.0        1205.0    116.0        1490.0
...             ...      ...           ...      ...           ...
9466            NaN      NaN           NaN      NaN           NaN
9467            NaN      NaN           NaN      NaN           NaN
9468            NaN      NaN           NaN      NaN           NaN
9469            NaN      NaN           NaN      NaN           NaN
9470            NaN      NaN           NaN      NaN           NaN

      PT08.S5(O3)     T    RH      AH
0          1268.0  13.6  48.9  0.7578
1           972.0  13.3  47.7  0.7255
2          1074.0  11.9  54.0  0.7502
3          1203.0  11.0  60.0  0.7867
4          1110.0  11.2  59.6  0.7888
...           ...   ...   ...     ...
9466          NaN   NaN   NaN     NaN
9467          NaN   NaN   NaN     NaN
9468          NaN   NaN   NaN     NaN
9469          NaN   NaN   NaN     NaN
9470          NaN   NaN   NaN     NaN

[9471 rows x 15 columns]

In [10]:
features=df
features = features.drop('Date', axis=1)
features = features.drop('Time', axis=1)
features = features.drop('C6H6(GT)', axis=1)
features = features.drop('PT08.S4(NO2)', axis=1)
print(features)

      CO(GT)  PT08.S1(CO)  NMHC(GT)  PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  \
0        2.6       1360.0     150.0         1046.0    166.0        1056.0
1        2.0       1292.0     112.0          955.0    103.0        1174.0
2        2.2       1402.0      88.0          939.0    131.0        1140.0
3        2.2       1376.0      80.0          948.0    172.0        1092.0
4        1.6       1272.0      51.0          836.0    131.0        1205.0
...      ...          ...       ...            ...      ...           ...
9466     NaN          NaN       NaN            NaN      NaN           NaN
9467     NaN          NaN       NaN            NaN      NaN           NaN
9468     NaN          NaN       NaN            NaN      NaN           NaN
9469     NaN          NaN       NaN            NaN      NaN           NaN
9470     NaN          NaN       NaN            NaN      NaN           NaN

      NO2(GT)  PT08.S5(O3)     T    RH      AH
0       113.0       1268.0  13.6  48.9  0.7578
1        92.0        972.0  13.3  47.7  0.7255
2       114.0       1074.0  11.9  54.0  0.7502
3       122.0       1203.0  11.0  60.0  0.7867
4       116.0       1110.0  11.2  59.6  0.7888
...       ...          ...   ...   ...     ...
9466      NaN          NaN   NaN   NaN     NaN
9467      NaN          NaN   NaN   NaN     NaN
9468      NaN          NaN   NaN   NaN     NaN
9469      NaN          NaN   NaN   NaN     NaN
9470      NaN          NaN   NaN   NaN     NaN

[9471 rows x 11 columns]

In [ ]:
labels = df['C6H6(GT)'].values

In [ ]:
features = features.values
#print(features)

# **Training and testing**

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(features,labels,test_size=0.2,random_state=1)

In [ ]:
print("X_train shape --> {}".format(xtrain.shape))
print("y_train shape --> {}".format(ytrain.shape))
print("X_test shape --> {}".format(xtest.shape))
print("y_test shape --> {}".format(ytest.shape))

# **Linear Regression**

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(xtrain, ytrain)
print("Predicted values:", model.predict(xtest))

In [ ]:
y_pred=model.predict(xtest)
y_pred=y_pred.reshape((-1, 1))
print("R^2 score for linear regression: ", model.score(xtest, ytest))

In [ ]:
mse=mean_squared_error(y_pred,ytest)
print(mse)
rmse = sqrt(mse)
rmse

In [ ]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error( y_pred, ytest)

In [ ]:
plt.plot(y_pred, ytest)   
plt.scatter(y_pred,ytest,c='red')

# **Support** **Vector** **Machines**

In [ ]:
from sklearn.svm import SVR
#from sklearn.metrics import accuracy_score
model = svm.SVR(kernel='rbf', C=1000)
fittedModel = model.fit(xtrain,ytrain)
predictions = fittedModel.predict(xtest)

In [ ]:
print("R^2 score for support vector machines:",fittedModel.score(xtest,predictions))